@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Syne:wght@400..800&display=swap");

body {
  @apply bg-background text-text;
  font-family: "Syne", serif;
}

/* Hide scroll bar while maintaining scroll functionality */
html {
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
  scroll-behavior: smooth;
}
