@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Syne:wght@400..800&display=swap");

/* Global styles */
body {
  @apply bg-background text-text;
  font-family: "Syne", serif;
}

/* Smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

/* Hide default scrollbars */
html,
body {
  overflow: auto; /* Allow default scroll */
}

html {
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Wavy gradient animation */
@keyframes gradientWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-bg::before {
  content: "";
  position: absolute;
  top: -500px; /* Adjust based on the blur amount */
  left: -500px; /* Adjust based on the blur amount */
  right: -500px; /* Adjust based on the blur amount */
  bottom: -500px; /* Adjust based on the blur amount */
  background: linear-gradient(45deg, #4f6dff, #2d3e8e, #4fc3f7, #121839);
  background-size: 200% 200%;
  animation: gradientWave 15s ease infinite;
  filter: blur(100px); /* Adjust the blur intensity as needed */
}

/* Tracking-wide transition */
.tracking-wide-transition {
  display: inline-block;
  transition: letter-spacing 0.3s ease;
  text-align: center;
}

.tracking-wide-transition:hover {
  letter-spacing: 0.1em;
}

/* Tracking-wide animation with pauses */
@keyframes trackingWide {
  0%,
  30%,
  100% {
    letter-spacing: 0em;
  }
  40%,
  70% {
    letter-spacing: 0.1em;
  }
}

.tracking-wide-animation {
  animation: trackingWide 8s ease-in-out infinite;
}

/* Floating effect for the messages in the Hero section */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
