@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Syne:wght@400..800&display=swap");

body {
  @apply bg-background text-text;
  font-family: "Syne", serif;
}

/* Ensure smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

/* Hide default scrollbars */
html,
body {
  overflow: hidden; /* Prevent default scroll */
}

#main-container {
  position: relative;
  overflow: hidden;
}

[data-scroll-container] {
  position: relative;
  overflow: hidden;
  height: 100%;
}

[data-scroll-section] {
  position: relative;
  will-change: transform;
}
